<?xml version="1.0" encoding="utf-8"?>

<!--不要动本文件，否则账户密码信息会丢失！-->
<config> 
  <user> 
    <password>hBGTvOCRKQ0=</password>  
    <safe-problem>zyy6jnRTVlAKP/GRwo5NxA==</safe-problem>  
    <answer>BOXHR6hACTk=</answer>  
    <last-edit-time>201884183151</last-edit-time> 
  </user>  
  <account-info id="201884183443"> 
    <platform>teamview</platform>  
    <user-name>/Pvh/EBR/RIKP/GRwo5NxA==</user-name>  
    <account-password>688T5PrNn+nGHCsRuMILAw==</account-password>  
    <email>3208281341@qq.com</email>  
    <website/>  
    <telephone/> 
  </account-info>  
  <account-info id="201884183652">
    <platform>twitter</platform>
    <user-name>nD+g6wNS7RZxghyGK5oHeA==</user-name>
    <account-password>Dg85d2M3lbjNAsEeueMO0w==</account-password>
    <email>3208281341@qq.com</email>
    <website></website>
    <telephone>18715006403</telephone>
  </account-info>
</config>
